body {
    background-color: darkslateblue;
     text-align: center;
     margin:0px;
 }
 
 #menu {
     margin:10px;
     text-align:right;
     background-color : white;
 }
 
 #menu ul {
   margin:10 0 10 0;
 
 }
 
 #menu ul li {
     display : inline-block;
     text-align: center;
     background-color: darkslateblue;
     width:100px; 
     list-style-type: none;
     margin:7px;
     font-size:15px;
 }
 
 a {
     text-decoration:none;
     color:white;
 }
 
 .square li{
     box-shadow: 5px 5px gray;
 }

 .content{
     background-color: white;
     text-align: center;
     font-size:30px;
     padding:5px;
     margin:10px;
 }

 footer {
    margin:10px;
    background-color: white;
    color:gray;
    padding:5px;
}