body{
    margin:30px;
    background-color: rgb(169, 207, 243);
    color:white;
}
#title{
    text-align: center;
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: white;
    color:rgb(49, 171, 219);
}
br{
    background-color: white;
}
.outer{
    margin-bottom:10px;
    padding:10px;
    background-color: white;
    color:rgb(49, 171, 219);
}
a{
    background-color: aqua;
    padding:10px;
    margin:10px;
}
#table{
    text-align:center;
    border-style: none;
    width:90%;
    border-collapse: collapse;
}
a:active{
    color:red;
}
th, td{
    border-style: none;
    padding:7px;
}
th, .colored{
    background-color:rgb(159, 214, 238);
    color:rgb(245, 244, 244);
}

#table th{
    font-weight: bold;
}
input, textarea{
    margin-bottom: 10px;
}

#btn_submit{
    background-color: white;
    border:1px solid rgb(49, 171, 219);
    color:rgb(49, 171, 219);
    padding:5px;
    
}
#btn_submit:hover{
    color:white;
    background-color:rgb(49, 171, 219);

}
